[submodule "school/presentation/ssh/reveal.js"]
	path = school/presentation/ssh/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "school/presentation/creately/revealjs"]
	path = school/presentation/creately/reveal.js
	url = https://github.com/hakimel/reveal.js.git
